canvas {
    border: 1px solid;
    text-align: center;
}

div {
    text-align: center;
}

button {
    width: 23px;
    height: 21px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: rgb(216, 100, 206);
}

.turquoise {
    background-color: turquoise;
}